<%- include('./partials/header') %>

<div>
    <h1 class="welcomeText">Welcome to Top Kek Moments!</h1>     
</div>
<h3>The place for almost anything livestream related.</h3> 
    <div class="indexContainerTop">
        <iframe src="https://clips.twitch.tv/embed?clip=NurturingHilariousNostrilMrDestructoid-WWaL6DLTHG7IsEQD&parent=<%= hostname %>" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
    </div>

<h2 class="textTopClips">TOP CLIPS</h2>
<br>
<div class="indexContainerBottom">
    <iframe src="https://clips.twitch.tv/embed?clip=TransparentThankfulAlfalfaYee--byGuSDtkkL781Fs&parent=<%= hostname %>" frameborder="0" allowfullscreen="true" scrolling="no" height="278" width="420"></iframe>
    <iframe src="https://clips.twitch.tv/embed?clip=DrabAttractiveSalmonPoooound-xjAEcRsuATHYL9VY&parent=<%= hostname %>" frameborder="0" allowfullscreen="true" scrolling="no" height="278" width="420"></iframe>
    <iframe src="https://clips.twitch.tv/embed?clip=PlacidBetterTriangleRiPepperonis-kPW-njvIaMDEYo2F&parent=<%= hostname %>" frameborder="0" allowfullscreen="true" scrolling="no" height="278" width="420"></iframe>
    <iframe src="https://clips.twitch.tv/embed?clip=DelightfulUgliestOysterArgieB8-dFFiLvwuNpN6Dj6S&parent=<%= hostname %>" frameborder="0" allowfullscreen="true" scrolling="no" height="278" width="420"></iframe>
</div>

<%- include('./partials/footer') %>